*{padding:0; margin: 0;}
body {background-color: #fefefe;
  font-family: Arial, Helvetica, sans-serif;}
header
{
    background-color: #fefefe;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.54);
}
.btndangnhap{
      background-color: #ffffff00;
      padding: 0;
     margin: 8px 0;
      border: none;
      cursor: pointer;
     float: right;
      transform: translateY(0px);}
.chucnang{
  margin: -20px -31px;
  display: flex;
  float: right;
  list-style: none;
}
.giohang{
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: #017e27;
  border-radius: 5px;
}
.iconshopping
{
  transform: translateY(3px);
  padding-left: 20px;
  width: 23px;
  height: 23px;
  color: #017e27;
}
.chucnang li{
  display: flex;
  padding: 0 5px;
  align-content: center;
  justify-content: flex-start;
}
.chucnang li a{
  font-size: 13px;
  transform: translateY(7px);
}
.chucnang li .VN{
  height: 18px;
  border-right: 1px black;
  border-right-style: solid;
}
    .allitem{
        display: block;
    }
    .classitem{
      transform: translateY(40px);
      padding-bottom: 51px;
  }
    .classitem ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .classitem ul li{
        padding: 0 25px;
    }
    .taskmenu{
      transform: translateY(10px);
        text-decoration: none;
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }
    .uname{
        display: flex;
        justify-content: center;
    }
    input[type=text], input[type=password] {
      width: 100%;
      height: 60px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .logo{
        width: 83px;
        background-color: #000;
        transform: translateY(-50px);
        bottom: 50px;
        border-radius: 50%;
        margin-left: 25%;
        box-shadow: 0 2px 3px 0 black;
    }
    .logo img{
        border-radius: 50%;
    }
    label{
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .formlogin
    {
        padding-bottom: 10px; ;
    }
    button {
      background-color: #ffffff00;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    .cancelbtn {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      padding: 4px 4px;
      background-color: #017e27;
      transform: translate(231px, 10px);
      box-shadow: 0 0 0 2px white;
      color: #fefefe;
    }
    
   
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .container {
      transform: translateY(-32px);
      padding: 0 20px;
      display: flex;
      align-content: flex-end;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
  
    .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4); 
      padding-top: 60px;
    }
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      width: 360px;
      height: 400px;
      border-radius: 15px;
      display: block;
    }
    
    
   
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    .dangnhap
    {
        background-color:#017e27 ;
        border-radius: 5px;
        color: #fefefe;
    }
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
    .banner{
      margin-top: 100px;
      transform: translateY(-2px);
      width: 100%;
      height: auto;
      padding-bottom: 40;
    }
    .banner img{
      width: 100%;
    }
    .container-content{
      margin: 20px auto;
      width: 1280px;
    }
    .row1{
      height: 500px;
      margin: 0 20px;
      padding-top: 30px;
      float: left;
      width: 40%;
      display: block;
    }
    .row1 .tieu-de1{
      color:#017e27;
      font-size: 30px;
      padding-bottom: 40px;
    }
    .content-row1{
      padding-top: 120px;
      padding-left: 120px;
    }
    .row1 .ct1{
      margin-top: 10px;
      font-size: 15px;
    }
    .abcdefj{
      margin-bottom: 50px;
    }
     .more{
      color: #017e27;
      border:#017e27 solid 1px ;
      padding: 10px;
      border-radius: 4px;
    }
    .amt-more{
      background-color: #fefefe;
    }
    .amt-more:hover{
      color: #fefefe;
      transition:all 0.25s linear;
      background-color: #017e27;
    }
    .map{
      background-color: #017e27;
      float: left;
      width: 100%;
      height: 460px;
    }
    .map-info{
      padding-top: 30px;
      padding-left: 80px;
    }
   .hethong{
    display: flex;
   } 
   h2{
    color: #ffffff;
   }
   select{
    border-radius: 4px;
    color: #ffffff;
    background-color:#017e27;
    border:#ffffff solid 1px;
    padding: 0 2px;
    height: 25px;
   }
   h3{
    margin: 10px 0;
    color: #ffffff;
   }
   .diachi li{
    font-size: 20px;
    width: 90%;
    justify-content: space-between;
    display: flex;
    color: #ffffff;
    margin: 30px 0;
   }
   .follow{
    border-radius: 4px;
    padding: 4px 10px;
    color: #ffffff;
    border: solid 1px white;
    background-color: #017e27;
    width: 100px;
    height: 30px;
   }
   .follow:hover{
    transition: all 0.25s linear;
    color: #017e27;
    background-color: #ffffff;
    border: solid 1px #ffffff;
   }
   .bottom-all{
    float:left;
    width: 100%;
   }
   .bottom{
    
    margin: 10px auto;
    width: 1400px;
   }
   .bottomL{
    list-style: none;
    display: block;
    width: 50%;
    float: left;
   }
   .bottomR{
    float: left;
    width: 50%;
   }
